<div [@routerTransition]>
    <h2 class="text-muted">Dashboard</h2>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [count]="4" [icon]="'fa-users'" [label]="'Team Size'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [count]="500" [icon]="'fa-hand-holding-usd'" [label]="'Pooled Amount'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [count]="13" [icon]="'fa-funnel-dollar'" [label]="'Projected Amount!'"></app-stat>
        </div>
    </div>
    <hr />
    <ngb-alert (close)="closeAlert(alert)" *ngFor="let alert of alerts" [type]="alert.type">{{
        alert.message
    }}</ngb-alert>
    <hr />
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-default">
                <div class="card-header"><i class="fa fa-clock-o fa-fw"></i> Team Details</div>
                <!-- /.card-header -->
                
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="card card-default">
                <div class="card-header"><i class="fa fa-clock-o fa-fw"></i> Pool Status</div>
                <!-- /.card-header -->
                
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header"><i class="fa fa-bell fa-fw"></i> Notifications card</div>
                <!-- /.card-header -->
                <app-notification></app-notification>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
